<div class="container">
  <form>
    <label for="first-name">First Name</label>
    <input type="text" id="first-name" name="first_name" required>

    <label for="last-name">Last Name</label>
    <input type="text" id="last-name" name="last_name" required>

    <label for="subject">Subject</label>
    <input type="text" id="subject" name="subject" required>

    <label for="message">Message</label>
    <textarea id="message" name="message" style="height: 200px" required></textarea>

    <button role="button" type="submit">Submit</button>
  </form>
</div>
