@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 10px;
  font-family: 'Monserrat', sans-serif;
}

.container {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page-area {
  max-width: 768px;
  display: inline-block;
  margin-bottom: 3rem;
}

footer.bottom {
  height: 50px;
  background-color: #b4c6f0;
  padding: 40px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container article.text-box {
  display: inline-block;
  width: 100%;
  max-width: 340px;
  text-align: justify;
  margin: 20px;
}

@media screen and (min-width: 768px) {
  .container .article.text-box {
    margin: 10px;
  }
}
